.wrapper{
    width: 100%;
    margin: 0 auto;
}
header{
    background: #ffffff;
    position: fixed;
    width: 100%;
    box-shadow: 0  0 8px rgba(139, 139, 139, 0.205);
}
.menu{
    display: flex;
    justify-content: space-between;
    margin: -10px 0;
}
.logo{
    display: flex;
    margin: 0px 10%;
}
.name-opr{
    color: rgba(44, 44, 44, 0.623);
}
.menu_item > ul{
	display: flex;
    list-style-type:none;
    margin: 20px;
}
.menu_link{
	color: #000;
	text-decoration: none;
	margin-right: 30px;

}

.menu_link:hover{
	color: #5f3505;
}
H1 {
    display: inline-block;
    text-shadow:
      1px 1px 1px white,
      1px -1px 1px white,
      -1px 1px 1px white,
      -1px -1px 1px white;
    color: rgb(25, 34, 43);
    transition: all 1s;
  }
  
  H1:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid rgb(49, 56, 61);
    bottom: .15em;
    transition: all 1s;
  }
  
  H1:hover:after {
    width: 0%;
    border-bottom-width: 1px;
  }
.name{
    display: flex;
    margin:60px 
}
.column {
    float: left;
    width: 25%;
    text-align: center;
    margin: 30px 0;
}
.col-1{
font-size: 20px;
}
.col-2{
    color: rgba(44, 43, 43, 0.705);
}
.row{
    background: #cecece8f;
    margin: 0px auto;
}
.otzivi {
    display: flex;
    justify-content: center;
}
.fon{
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
a.button24 {
    display: flex;
    width: 200px;
    justify-content: center;
    margin: 40px 0;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    margin-top: 10px;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
  } 
  a.button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
  a.button24:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
  .description{
      color: antiquewhite;
  }
  .film{
      display: inline-block;
      width: 100%;
      margin: 0 auto;
      background: rgba(173, 173, 173, 0.527);
  }
  .vidos{
      text-align: center;
  }
  footer{
      background: #000000;
  }
  .topbutton {
    width:40px;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    }

.row-1 {
    display: inline-block;
}

.row-1 > .fon,
.row-1 > .image {
    float: left;
    width: 50%;
    margin: 30px 0px;
} 