body{
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    
}
header{
    background: #ffffff;
    width: 100%;
    box-shadow: 0  0 8px rgba(139, 139, 139, 0.205);
}
.menu{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    margin: 0px 10%;

}
.logo p{
    font-size: 20px;
}
.logo img{
    margin-top:10px;
}
.name-opr{
    color: rgba(66, 66, 66, 0.623);
    font-size: 20px;
}
.menu_item > ul{
	display: flex;
    list-style-type:none;
    margin: 20px;
}
.menu_link{
	color: #000;
	text-decoration: none;
	margin-right: 30px;

}

.menu_link:hover{
	color: #5f3505;
}
H1 {
    display: inline-block;
    text-shadow:
      1px 1px 1px white,
      1px -1px 1px white,
      -1px 1px 1px white,
      -1px -1px 1px white;
    color: rgb(25, 34, 43);
    transition: all 1s;
  }
  
  H1:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid rgb(49, 56, 61);
    bottom: .15em;
    transition: all 1s;
  }
  
  H1:hover:after {
    width: 0%;
    border-bottom-width: 1px;
  }
.name{
    display: flex;
    margin:60px 
}
.column{
    float: left;
    width: 25%;
    text-align: center;
    margin: 30px 0;
    
}
.col-1, .col-3{
font-size: 20px;
}
.col-2, .col-4{
    color: rgba(44, 43, 43, 0.705);
}
.row{
    background: #ffffff8f;
    margin: 0px auto;
    
}

.fon{
    width: 50%;
}
.row:after, .row-otz:after {
    content: "";
    display: table;
    clear: both;
}
.row-otz img{
    border-radius: 100%;
    border: 3px solid green; 
    box-shadow: 0 0 7px #666;
    padding: 1%;
}
.column-otz{
    width: 20%;

    text-align: center;
    margin: 30px 30px;
    display: inline-block;
    background: rgb(241, 241, 241);
}
a.button24 {
    display: flex;
    width: 200px;
    justify-content: center;
    margin: 40px 0;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    margin-top: 10px;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
  } 
  a.button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
  a.button24:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
  .description{
      color: antiquewhite;
  }

  .topbutton {
    width:40px;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    }

.row-1 {
    display: inline-block;
}

.row-1 > .fon,
.row-1 > .image {
    float: left;
    width: 45%;
    margin-top: 10px;
    margin-left: 50px;
} 
.klient{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction:column;
    text-align: center;
    background: rgb(247, 247, 247);
    font-family: "Times New Roman", Times, serif;
}
.footer{
	background-color: rgb(20, 14, 27);
	color: white;
	display: flex;
	flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.social-links a{
    color:#6a6a77;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 2rem;
    z-index: 2;
}
.social a{
        color: #6a6a77;
        font-size: 1.5rem;
        display: inline-block;
        margin-left: 3rem;
        z-index: 2;
}
.splide__slide img {
	width : 60%;
	height: 60%;
}
.splide__slide{
    box-shadow: 0 0 7px #666;
    padding: 1%;
    background: rgba(255, 255, 255, 0.61);
}
.vozm{
    background: rgba(202, 201, 201, 0.514);   
    width: 100%;
    font-size: 18px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.vozm h3{

    display: flex;
    justify-content: center;
    text-align: center;
    }
